.header {
  width: 1440px;
  height: 752px;
  margin: 0 auto;
}

.header__top {
  height: 94px;
  background-color: khaki;
}

.header__top-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 52px;
}

.logo {
}

.logo__link {
}

.logo__img {
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__list {
  list-style-type: none;
}

.menu__list-item {
  display: inline;
}

.menu__link {
  text-decoration: none;
}

.menu__link--active {
}

.header__content {
}

.header__content-inner {
  background-color: rgb(56, 184, 95);
}

.header__content-title {
}

.header__content-discription {
}

.header__content-decor {
}
