.header {
  width: 1440px;
  height: 752px;

  margin: 0 auto;
  background-color: darksalmon;
}

.header__top {
  height: 94px;

  background-color: darkseagreen;
}

.header__top-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 26px 52px;
}

/* .logo {} */

/* .logo__link {} */

/* .logo__img {} */

/* .menu {} */

.menu__list {
  display: flex;
  align-items: center;
  height: 38px;
  gap: 38px;

  background-color: lightskyblue;
}

.menu__list-item {
  padding-left: 6px;
  padding-right: 6px;
}

.menu__link {
  text-decoration: none;
}

/* .menu__link--active {} */

/* .header__content {} */

/* .header__content-inner {} */

.header__content-title {
  width: 440px;
  height: 122px;
  margin-top: 213px;
  margin-left: auto;
  margin-right: auto;

  background-color: mediumturquoise;
}

.header__content-discription {
  width: 166px;
  height: 20px;
  margin-top: 18px;
  margin-bottom: 180px;
  margin-left: auto;
  margin-right: auto;

  background-color: aquamarine;
}

.header__content-decor {
  width: 26px;
  height: 43px;
  margin: 0 auto;

  background-color: darkkhaki;
}

.about {
  width: 1440px;
  height: 491px;

  margin: 0 auto;
  background-color: khaki;
}

/* .about__inner {} */

.about__title {
  width: 263px;
  height: 93px;

  background-color: aquamarine;
}

.about__text {
  width: 770px;
  height: 180px;

  background-color: lightgreen;
}

.expertise {
  width: 1440px;
  height: 877px;

  margin: 0 auto;
  background-color: papayawhip;
}

.expertise__title {
  width: 396px;
  height: 93px;

  background-color: aquamarine;
}

.expertise__content {
  width: 1170px;
  height: 137px;

  background-color: darkseagreen;
}

/* .expertise__content-items {} */

.expertise__content-item {
  width: 370px;
  height: 24px;

  background-color: greenyellow;
}

.expertise__content-text {
  width: 770px;
  height: 108px;

  background-color: dodgerblue;
}

.expertise__items {
  width: 1167px;
  height: 141px;

  background-color: lightslategrey;
}

.expertise_item {
  width: 370px;
  height: 130px;

  background-color: lightseagreen;
}

.expertise__item-img {
  width: 50px;
  height: 50px;

  background-color: coral;
}

/* .expertise__item-box {} */

.expertise__item-title {
  width: 200px;
  height: 20px;

  background-color: fuchsia;
}

.expertise__item-text {
  width: 285px;
  height: 96px;

  background-color: orchid;
}

.features {
  width: 1440px;
  height: 840px;

  margin: 0 auto;
  background-color: palegreen;
}

.features__inner {
  width: 470px;
  height: 559px;

  background-color: hotpink;
}

.features__title {
  width: 470px;
  height: 168px;

  background-color: deepskyblue;
}

.features__text {
  width: 470px;
  height: 324px;

  background-color: lawngreen;
}

.portfolio {
  width: 1440px;
  height: 1420px;

  margin: 0 auto;
  background-color: lightgreen;
}

/* .portfolio__head {} */

.portfolio__title {
  width: 252px;
  height: 94px;
    
  margin: 0 auto;
  border: 1px solid red;
}

.portfolio__buttons {
  width: 566px;
  height: 33px;
    
  margin: 0 auto;
  border: 1px solid red;
}

/* .portfolio__btn {} */

/* .portfolio__items {} */

/* .portfolio__item-img {} */

/* .portfolio__item-title {} */

/* .portfolio__item-descr {} */

.portfolio__btn-all {
  width: 1440px;
  height: 100px;
    
  margin: 0 auto;
  border: 1px solid red;
}

.video {
  width: 1440px;
  height: 757px;

  margin: 0 auto;
  background-color: darkseagreen;
}

/* .video__quotes {} */

.video__quotes-text {
  width: 650px;
  height: 72px;
    
  margin: 0 auto;
  border: 1px solid red;
}

.video__quotes-author {
  width: 116px;
  height: 32px;
    
  margin: 0 auto;
  border: 1px solid red;
}

.video__content {
  width: 1440px;
  height: 324px;

  margin: 0 auto;
  background-color: darkkhaki;
}

.statistics {
  width: 1440px;
  height: 431px;

  margin: 0 auto;
  background-color: cornflowerblue;
}

.statistics__inner {
  display: flex;
  flex-direction: row;
}

.statistics__item {
  width: 114px;
  height: 101px;
    
  margin: 0 auto;
  border: 1px solid red;
}

.statistics__item-num {
  width: 114px;
  height: 73px;
    
  margin: 0 auto;
  border: 1px solid red;
}

.statistics__text {
  width: 87px;
  height: 19px;
    
  margin: 0 auto;
  border: 1px solid red;
}

.slider {
  width: 1440px;
  height: 840px;

  margin: 0 auto;
  background-color: mediumturquoise;
}

.slider__item {
  width: 679px;
  height: 28px;
    
  margin: 0 auto;
  border: 1px solid red;
}

.slider__item-title {
  width: 704px;
  height: 104px;
    
  margin: 0 auto;
  border: 1px solid red;
}

.slider__text {
  width: 559px;
  height: 72px;
    
  margin: 0 auto;
  border: 1px solid red;
}

.team {
  width: 1440px;
  height: 999px;

  margin: 0 auto;
  background-color: lightcoral;
}

.team__title {
  width: 284px;
  height: 93px;
  
  margin: 0 auto;
  border: 1px solid red;
}

.team__items {
  display: flex;
  flex-direction: row;
  width: 1170px;
  height: 520px;
  
  margin: 0 auto;
  border: 1px solid red;
}

.team__item {
  width: 370px;
  height: 520px;
  
  margin: 0 auto;
  border: 1px solid red;
}

.team__item-img {
  width: 370px;
  height: 440px;
  
  margin: 0 auto;
  border: 1px solid red;
}

.team__item-name {
  width: 138px;
  height: 17px;
  
  margin: 0 auto;
  border: 1px solid red;
}

.team__item-position {
  width: 64px;
  height: 16px;
  
  margin: 0 auto;
  border: 1px solid red;
}

.pricing {
  width: 1440px;
  height: 1073px;

  margin: 0 auto;
  background-color: lightpink;
}

.pricing__title {
  width: 372px;
  height: 93px;

  margin: 0 auto;
  border: 1px solid red;
}

.pricing__items {
  display: flex;
  flex-direction: row;
}

.pricing__item {
  width: 370px;
  height: 583px;

  margin: 0 auto;
  border: 1px solid red;
}

.pricing__item-name {
  width: 99px;
  height: 22px;

  margin: 0 auto;
  border: 1px solid red;
}

.pricing__item-rate {
  width: 163px;
  height: 109px;

  margin: 0 auto;
  border: 1px solid red;
}

.pricing__list {
  width: 128px;
  height: 230px;

  margin: 0 auto;
  border: 1px solid red;
}

.pricing__list-item {
  width: 125px;
  height: 22px;

  margin: 0 auto;
  border: 1px solid red;
}

.pricing__btn {
  width: 121px;
  height: 17px;

  margin: 0 auto;
  border: 1px solid red;
}

.block-zero {
  width: 1440px;
  height: 292px;

  margin: 0 auto;
  background-color: darkorange;
}

.contact {
  width: 1440px;
  height: 896px;

  margin: 0 auto;
  background-color: darksalmon;
}

/* .contact__content {} */

.contact__title {
  width: 360px;
  height: 93px;

  margin: 0 auto;
  border: 1px solid red;
}

.contact__form {
  width: 569px;
  height: 317px;

  margin: 0 auto;
  border: 1px solid red;
}

.contact__form-input {
  width: 569px;
  height: 38px;

  margin: 0 auto;
  border: 1px solid red;
}

.contact__form-textarea {
  width: 569px;
  height: 156px;

  margin: 0 auto;
  border: 1px solid red;
}

.contact__form-btn {
  width: 230px;
  height: 45px;

  margin: 0 auto;
  border: 1px solid red;
}

.contact__map {
  width: 635px;
  height: 896px;

  margin: 0 auto;
  border: 1px solid red;
}

.footer {
  width: 1440px;
  height: 651px;

  margin: 0 auto;
  background-color: aquamarine;
}

/* .footer__content {} */

/* .logo {
  width: 42px;
  height: 42px;
} */

logo--line {
  width: 150px;
  height: 68px;

  margin: 0 auto;
  border: 10px solid blue;
}

/* .logo__link {} */

/* .logo__img {} */

.footer__social {
  width: 692px;
  height: 14px;

  margin: 0 auto;
  border: 1px solid red;
}

/* .footer__social-link {} */

.footer__adress {
  width: 241px;
  height: 96px;

  margin: 0 auto;
  border: 1px solid red;
}

/* .footer__adress--street */

/* .footer__adress--phone {} */

/* .footer__adress--email {} */

.footer-to__top-btn {
  width: 17px;
  height: 9px;

  margin: 0 auto;
  border: 1px solid red;
}

.footer__copy {
  width: 1440px;
  height: 100px;

  margin: 0 auto;
  background-color: #2A2C2B;
}

