.header {
  width: 1440px;
  height: 752px;

  margin: 0 auto;
  background-color: darksalmon;
}

.header__top {
  height: 94px;
  
  background-color: darkseagreen;
}

.header__top-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 26px 52px;
}

.logo {
}

.logo__link {
}

.logo__img {
}

.menu {
}

.menu__list {
  display: flex;
  align-items: center;
  height: 38px;
  gap: 38px;

  background-color: lightskyblue;
}

.menu__list-item {
  padding-left: 6px;
  padding-right: 6px;
}

.menu__link {
  text-decoration: none;
}

.menu__link--active {
}

.header__content {
}

.header__content-inner {
}

.header__content-title {
  width: 440px;
  height: 122px;
  margin-top: 213px;
  margin-left: auto;
  margin-right: auto;

  background-color: mediumturquoise;
}

.header__content-discription {
  width: 166px;
  height: 20px;
  margin-top: 18px;
  margin-bottom: 180px;
  margin-left: auto;
  margin-right: auto;

  background-color: aquamarine;
}

.header__content-decor {
  width: 26px;
  height: 43px;
  margin: 0 auto;

  background-color: darkkhaki;
}
